:root {
    --muted-color: rgba(255, 255, 255, 0.5);
}


body {
  background: #15202b;
  color: var(--muted-color);
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--muted-color);
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #15202b;
}

.site-header .navbar-nav .nav-link {
  color: var(--muted-color);
}


