{% extends "base.html" %}
{% block content %}
<div class="col-12 col-md-3 dont-move">
    <div class="row">
        <div class="mt-2 d-flex full-width align-items-center">
            <img
                    class="rounded-circle mr-3"
                    style="width: 90px; height: 90px;"
                    src="{{ user.customer.image.url }}">
            <div>
                <h4 style="text-align: left"
                    class="white-important">
                    {{ user.username }}
                </h4>
                <h6 style="text-align: left"
                    class="email-profile">
                    {{ user.email }}
                </h6>
            </div>
        </div>
    </div>
    <div class="row full-width pl-2">
        <div class="col-6">
            Followers
        </div>
        <div class="col-6">
            Following
        </div>
        <div class="col-6">
            <a href="">
                <h3 class="white-important follow-click">
                    {{ user.customer.followers }}
                </h3>
            </a>
        </div>

        <a href="">
            <div class="col-6">
                <h3 class="white-important follow-click">
                    {{ user.customer.following }}
                </h3>
            </div>
        </a>
    </div>
</div>
<div class="col-12 col-md-3 dont-move">
    <article class="t-section media content-section">
        <div class="row">
            <div class="col-12">
                <h3>You may follow</h3>
                <ul class="col-12 mt-2">
                    {% for user_obj in users %}
                    {% if user_obj.username not in followers_list %}
                    <li>
                        <div class="who-to-follow">
                            <div style="padding-left: 0px !important;" class="col-8 no-padding d-flex align-items-center">
                                <img class="rounded-circle mr-2" style="width: 40px; height: 40px;" src="{{ user_obj.customer.image.url }}">
                                <a class="mr-2 white-important" href="{% url 'user-follow' user_obj.username %}">
                                    {{ user_obj.username }}
                                </a>
                            </div>
                            <p>{{ user_obj.email }}</p>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>

</div>

{% endblock content %}